[Unit]
Description=Starts node.js server
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/ubuntu/ec2node
ExecStart=/home/ubuntu/ec2node/start.sh

[Install]
WantedBy=default.target